<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <section class="header">
        <nav>
        <a href="/"><img src="static/assets/images/Les Brains.png" height="80" width="80"></a>
        <div class="nav-links">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/data">DATA ANALYSIS</a></li>
                <li><a href="/classifier">CLASSIFIER TOOL</a></li>
                <li><a href="/contact">CONTACT US</a></li>
            </ul>
            </div>
        </nav>
  <!--Analysis comes here-->
    </div>
    </section>
    <br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">

</body>
</html>